
-# To edit the mailto email target, edit the content below in-between the ('')...
- email_recipient = URI.escape('sponsorcommit@gitlab.com').to_s

- email_subject = URI.escape('Sponsorship for Commit events').to_s
- email_body = URI.escape('I would like more information about sponsorship opportunities.').to_s

- email_link = 'mailto:'+email_recipient+'?subject='+email_subject+'&body='+email_body

.container.text-center
  .row.u-margin-top-lg.u-margin-bottom-lg
    .col-md-12

      - email_recipient = URI.escape('commit@gitlab.com').to_s

      - email_link = 'mailto:'+email_recipient
      %h1 Contact us
      %h4.u-margin-top-sm{style: "font-weight: 300;"} Have any questions about commit? Email 
      %h3 
        = succeed ' ' do
          %a{href: email_link, style: "text-decoration: underline; font-weight: 600;"} #{email_recipient}
      %h4{style: "font-weight: 300;"}
        for more information.
